body {
  background-color: rgb(251, 239, 220);
}

/* Setting images to form together */
/* Initial blank photo */
#default-eyes,
#default-hair,
#default-hat,
#default-skin,
#default-piercings,
#default-shirt {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* Original blocking used for position */
/* #blocking {
  border: 1px solid;
  width: 50%;

  position: absolute;
  left: 670px;
} */
