body {
  background-color: purple;
}

/* Setting images to form together */
/* EYES */
#default-eyes {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* HAIR */
#default-hair {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* HAT */
#default-hat {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* SKIN */
#default-skin {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* PIERCINGS */
#default-piercings {
  width: 50%;

  position: absolute;
  left: 670px;
}

/* SHIRT */
#default-shirt {
  width: 50%;

  position: absolute;
  left: 670px;
}
/* Original blocking used for position */
/* #blocking {
  border: 1px solid;
  width: 50%;

  position: absolute;
  left: 670px;
} */

/* Images - Initialising so they are only available once button is pressed */
/* EYES */
#eye-colour-1,
#eye-colour-2,
#eye-colour-3,
#eye-colour-4,
#eye-colour-5 {
  display: none;
}

#eyes_blue,
#eyes_brown,
#eyes_green,
#eyes_grey,
#eyes_pastelblue {
  width: 50%;
  position: absolute;
  left: 670px;

  display: none;
}
